

// FONTES CSS
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/oswald/oswald-light-webfont.ttf");
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/oswald/oswald-regular-webfont.ttf");
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/oswald/oswald-bold-webfont.ttf");
}


body {
    font-family: 'Oswald';
    font-weight: 400;
    background: #fff;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 300;
    line-height: 1.1;
    color: inherit;
}

.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
    font-weight: 300;
}

* {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

a {
    color: #00b4c8;
}

a:hover {
    color: #666;
}

.btn-primary {
    color: #fff;
    background-color: #00B4C8;
    border-color: #359db5;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
}

.btn-primary:hover {
    color: #fff;
    background-color: #00708A;
    border-color: #00435F;
}

.btn-success {
    color: #fff;
    background-color: #8DC63F;
    border-color: #46C63F;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
}

.btn-success:hover {
    color: #fff;
    background-color: #A0CF67;
    border-color: #8DC63F;
}

.btn-info {
    color: #fff;
    background-color: #00708A;
    border-color: #00435F;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
}

.btn-info:focus,
.btn-info:hover {
    color: #fff;
    background-color: #00435F;
    border-color: #004D5F;
}

.btn-warning {
    color: #fff;
    background-color: #FFCB0F;
    border-color: #FDBB30;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
}

.btn-warning:hover {
    color: #fff;
    background-color: #FDBB30;
    border-color: #F7931E;
}

.btn-danger {
    color: #fff;
    background-color: #EF4135;
    border-color: #9C1A29;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
}

.btn-danger:hover {
    color: #fff;
    background-color: #9C1A29;
    border-color: #9C0029;
}


/*TABLE CSS DIV*/

.table {
    .action {
        text-align: center;
        a {
            color: green;
            padding: 0 4px;
            cursor: pointer;
            i {
                font-size: 14px;
            }
        }
    }
    td,
    th {
        font-size: 12px;
    }
}

.fixed_headers {
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_headers th {
    text-decoration: none;
}

.fixed_headers td,
.fixed_headers th {
    padding: 5px;
    text-align: left;
    min-width: 104px;
    max-width: 104px;
    font-size: 11px;
}

.fixed_headers thead,
.table thead {
    background-color: #00708a;
    color: #fff;
}

.fixed_headers thead tr {
    display: block;
    position: relative;
}

.fixed_headers tbody {
    display: block;
    min-height: 450px;
    overflow-y: scroll;
}

.fixed_headers tbody tr:nth-child(even) {
    background-color: #DDD;
}

.fixed_headers tbody tr:hover,
.table-hover> tbody> tr:hover {
    background: rgba(0, 0, 0, 0.1);
}

.old_ie_wrapper {
    height: 600px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.old_ie_wrapper tbody {
    height: auto;
}

.box-filter {
    margin: 10px 0;
    .buttons {
        padding: 0;
    }
    .filters {
        text-align: right;
        font-size: 14px;
        margin-bottom: 10px;
        padding-right: 0;
        div {
            display: inline-block;
            margin-right: 2px;
        }
    }
}

.editable-controls {
    .editable-input.form-control {
        height: 26px;
        padding: 3px 6px;
    }
    .btn {
        font-size: 9px;
        padding: 6px 9px;
    }
}

// CONTENT CSS
.content {
    background: #fff;
    overflow-y: auto;
    margin-top: 50px;
}

.btn-margin-top {
    margin-top: 25px;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

.x-small-font {
  font-size: x-small;
}

.grey {
  color: grey;
}

.red {
  color: red;
}

.blue {
  color: #3658a4;
}

.backgroud-blue {
  background-color: #3658a4;
}

.yellow {
  background-color: #ffdc2c;
}

.car-repeater {
  padding-bottom: 1em;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.heart {
  font-size: 1.5em;
}

.result-filter {
  padding-bottom: 1em;
}

.result-filter span{
  background-color: #fff;
  font-size: xx-small;
  color: #5e76b2;
  border-right: 0;
}

.result-filter select{
  font-size: small;
  border-left: 0;
}

.card {
  margin: 0;
  padding: 0;
  min-height: 400px;
  // outline: 1px solid #cfcfcf;
}

.card-content {
  padding: 0;
  margin: 0;
}

.card-result {
  background-color: #ffdc2c;
  height: inherit;
}

.car-result-resume {
  padding-top: 2em;
  font-size: small;
  text-align: center;
}

.car-result-resume-title {
  font-weight: bolder;
  font-size: small;
  color: #635109;
}

.car-display {
  padding: 0;
  background-color: #fff;
  height: 100%;
}

.logo-box {
  padding-top: 1em;
}

.car-box {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.car-title {
  padding-top: 0.5em;
  font-size: medium;
  color: #263c70;
  font-weight: bolder;
}

.car-description {
  font-size: x-small;
  font-weight: bold;
}

.car-description-list {
  padding-top: 0.3em;
  margin-top: 0.3em;
  font-size: small;
  font-weight: normal;
}

.car-description-list-item {
  padding-top: 0.3em;
}

.car-optional-description {
  padding: 1em 1em 1em 1em;
  font-size: small;
}

.discount-box {
  font-size: x-small;
  text-align: center;
  color: #fff;
  background-color: #69b42e;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0;
  padding-right: 0;
}

.show-details {
  color: #0087e5;
  padding-top: 1em;
  padding-bottom: 1em;
}

.car-optionals-list {
  margin-top: 1em;
}

.car-optionals {
  font-size: small;
  padding-bottom: 0.3em;
  color: #4c68ab;
}

.sales-price {
  font-weight: bolder;
  color: #263c70;
}

.sales-from {
  position: relative;
  display: inline-block;
}

.sales-coin {
  color: #263c70;
  font-size: x-small;
  font-weight: bold;
}

.sales-installment {
  color: #263c70;
  font-size: x-small;
  font-weight: bold;
}

.checkout {
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
}

.sales-from::before, .sales-from::after {
    content: '';
    width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
}

.sales-from::before {
  border-bottom: 2px solid #ce0d02;
  -webkit-transform: skewY(-10deg);
  transform: skewY(-10deg);
}

.arrow-box-top {
	position: relative;
	background: #ffffff;
	border: 1px solid #e0e0e0;
  padding-right: 0;
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
}

.arrow-box-top:after, .arrow-box-top:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow-box-top:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}

.arrow-box-top:before {
	border-color: rgba(224, 224, 224, 0);
	border-bottom-color: #e0e0e0;
	border-width: 11px;
	margin-left: -11px;
}

.arrow-box-right {
  position: relative;
	background: #ffffff;
	border: 1px solid #e0e0e0;
}

.arrow-box-right:after, .arrow-box-right:before {
  left: 100%;
	top: 25%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
  z-index: 1;
}

.arrow-box-right:after {
  border-color: rgba(255, 255, 255, 0);
	border-left-color: #ffffff;
	border-width: 10px;
	margin-top: -10px;
}

.arrow-box-right:before {
  border-color: rgba(224, 224, 224, 0);
	border-left-color: #e0e0e0;
	border-width: 11px;
	margin-top: -11px;
}
