.header {
    position: absolute;
    width: 100%;
    .navbar-default .navbar-brand {
        display: flex;
        width: 190px;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    @media (max-width: 768px) {
        .navbar-top-links {
            float: right;
        }
    }
    .navbar-top-links li a {
        padding: 15px;
        min-height: 50px;
        cursor: pointer;
        .btn-dropdown {
            display: block;
        }
        @media (max-width: 768px) {
            span {
                display: none;
            }
        }
    }
    .navbar-collapse {
        display: flex;
    }
    .navbar-brand> img {
        height: 23px;
    }
    .btn-sidebar {
        height: 50px;
        border: 0;
        border-radius: 0;
        background: transparent;
        border-color: transparent;
        box-shadow: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
    }
    .btn-sidebar:active,
    .btn-sidebar:focus,
    .btn-sidebar:hover {
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
        background: transparent;
        outline-color: transparent;
        box-shadow: none;
    }
    .btn-sidebar:hover i {
        color: #00b4c8;
    }
    .navbar-default {
        background: #fff;
        margin-bottom: 0;
        @media (max-width: 768px) {
            .navbar-header {
                float: left;
                margin-right: 0;
            }
        }
    }
}