.sidebar {
    width: 190px;
    transition: margin 0.4s linear;
    background: #00708a;
    border-radius: 0;
    padding-top: 50px;
    box-shadow: none;
    position: absolute;
    .navbar-collapse {
        padding: 0;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            border-bottom: 1px solid #006873;
            a {
                color: #fff;
                display: block;
                transition: all linear 0.2s;
                &:hover,
                &:focus,
                &:active {
                    text-decoration: none;
                    background-color: #00435f;
                }
                i {
                    text-indent: 0;
                    margin-right: 5px;
                    &:last-child {
                        margin: 0;
                        top: 3px;
                        position: relative;
                    }
                }
            }
            .nav-second-level {
                background-color: #fff;
                li {
                    border-color: #d5d5d5;
                    a {
                        color: #00708a;
                        font-size: 12px;
                        &:hover,
                        &:focus,
                        &.active {
                            background-color: #f5f5f5;
                        }
                    }
                }
            }
            .nav-three-level {
                li {
                    &.active {
                        background-color: #f5f5f5;
                    }
                }
            }
        }
    }
}

// HIDE SIDEBAR
.hideSideBar .sidebar {
    margin-left: -190px;
}

.content {
    transition: all linear 0.4s;
    &>.container-fluid {
        transition: all linear 0.4s;
    }
}

.hideSideBar .content {
    margin-left: 0;
    width: 100%;
}