<form>
  <div class="container">

    <div class="row">

      <div class='col-lg-3 hidden-xs hidden-sm hidden-md'>
        <search-directive></search-directive>
      </div>

      <div class='hidden-lg col-xs-12 col-sm-12'>
        <button class='btn btn-sm btn-primary pull-right' ng-click="isCollapsed = !isCollapsed">
          <i ng-show='!isCollapsed'><i  class='glyphicon glyphicon-plus'></i> Mostrar filtros</i>
          <i ng-show='isCollapsed'><i class='glyphicon glyphicon-minus'></i> Esconder filtros</i>
        </button>
        <div class='col-xs-12 arrow-box-top' uib-collapse="!isCollapsed">
          <search-directive></search-directive>
        </div>
      </div>

      <div class='col-lg-9 col-sm-12 col-xs-12 card-content'>

        <div class='col-xs-12 result-filter'>

          <div class='col-lg-3 col-sm-4 hidden-xs'>
            <div class='input-group'>
              <span class="input-group-addon" id="basic-addon3" aria-describedby="basic-addon3">ITENS POR PÁGINA:</span>
              <select class="form-control">
                <option>
                  100
                </option>
              </select>
            </div>
          </div>

          <div class='col-lg-4 col-sm-4 hidden-xs'>
            <div class='input-group'>
              <span class="input-group-addon" id="basic-addon3" aria-describedby="basic-addon3">ORDENAR POR:</span>
              <select class="form-control">
                <option>
                  Menor preço
                </option>
              </select>
            </div>
          </div>

          <div class='col-lg-3 col-sm-4 hidden-xs'>
            <div class='input-group'>
              <span class="input-group-addon" id="basic-addon3" aria-describedby="basic-addon3">MOEDA:</span>
              <select class="form-control">
                <option>
                  Real
                </option>
              </select>
            </div>
          </div>

        </div>

        <div class='col-lg-10 col-sm-12 col-xs-12 car-repeater' ng-repeat='car in vm.cars'>


          <!-- Inicio bloco carro -->

          <div class='col-lg-10 col-sm-12 col-xs-12 col-md-12 arrow-box-right no-padding no-margin'>

            <div class="card">
              <div class="card-block">

                <!-- Inicio fotos do carro -->

                <div class='col-lg-5 col-sm-12 col-xs-12'>

                  <div class='discount-box col-xs-6' ng-show='car.discount > 0'>
                    <div>DESCONTO</div>
                    <strong>{{::car.discount}}</strong> %
                  </div>

                  <div class='logo-box pull-right'>
                      <img ng-src='{{::car.brandImage}}' />
                  </div>

                  <div class='car-box col-xs-12'>
                    <img ng-src='{{::car.carImage}}' width="100%" height="100%"/>
                  </div>

                </div>

                <!-- Fim fotos do carro -->

                <!-- Inicio descrições do carro -->
                <div class='col-lg-7 col-sm-12 col-xs-12'>

                  <div class='car-title'>
                    <div class='heart pull-right'>
                      <favorite-directive></favorite-directive>
                    </div>
                    {{::car.title}}
                  </div>
                  <div class='car-description'>
                    <div>
                      CÓDIGO DA TAXA: {{::car.tax.code}}
                    </div>
                    <div>
                      {{::car.description}}
                    </div>
                    <div class='car-description-list' ng-repeat='topic in car.descriptionTopics'>
                      <div class='car-description-list-item'>
                        - {{::topic}}
                      </div>
                    </div>
                  </div>

  	              <div class='show-details'>
                    <i ng-click="isCollapsed = !isCollapsed"><span ng-show='!isCollapsed'>Ver detalhes +</span><span ng-show='isCollapsed'>Fechar detalhes -</span></button>
                  </div>

                </div>
                <!-- Fim descrições do carro -->

                <!-- Inicio detalhes opcionais do carro -->

                <div class='col-xs-12 arrow-box-top' uib-collapse="!isCollapsed">
                  <div class='car-optional-description'>
                    {{::car.optionalDescription}}
                  </div>
                </div>

                <!-- Fim detalhes opcionais do carro -->

                <!-- Inicio opcionais do carro -->

                <div class='col-xs-12'>

                  <div class='col-lg-4 col-md-4 col-xs-12 col-sm-6 car-optionals-list'>
                    <div class='car-optionals' ng-show='car.optionals.fourDoors'>
                      <img src='../images/4-portas.png' /> 4 portas
                    </div>

                    <div class='car-optionals' ng-show='car.optionals.airConditioning'>
                      <img src='../images/ar-condicionado.png' /> Ar condicionado
                    </div>

                    <div class='car-optionals' ng-show='car.optionals.electricGlass'>
                      <img src='../images/vidro-eletrico.png' /> Vidro elétrico
                    </div>

                  </div>

                  <div class='col-lg-4 col-md-4 col-xs-12 col-sm-6 car-optionals-list'>

                    <div class='car-optionals' ng-show='car.optionals.fiveSeats'>
                      <img src='../images/5-pessoas.png' /> 5 pessoas
                    </div>

                    <div class='car-optionals' ng-show='car.optionals.automatic'>
                      <img src='../images/automatico.png' /> Automático
                    </div>

                    <div class='car-optionals' ng-show='car.optionals.cdUsb'>
                      <img src='../images/cd-usb.png' /> CD ou USB
                    </div>
                  </div>

                  <div class='col-lg-4 col-md-4 col-xs-12 col-sm-6 car-optionals-list'>

                    <div class='car-optionals' ng-show='car.optionals.threeBags'>
                      <img src='../images/3-malas.png' /> 3 malas
                    </div>

                    <div class='car-optionals' ng-show='car.optionals.hydraulicSteering'>
                      <img src='../images/direcao-hidraulica.png' /> Direção hidráulica
                    </div>

                    <div class='car-optionals' ng-show='car.optionals.amFm'>
                      <img src='../images/radio.png' /> Rádio AM/FM
                    </div>

                  </div>
                </div>

                <!-- Fim opcionais do carro -->

              </div>
            </div>

          </div>

          <!-- Fim bloco carro -->

          <!-- Valores -->

          <div class='col-lg-2 hidden-sm hidden-xs hidden-md no-padding no-margin'>

            <div class="card yellow">
              <div class="card-block">

                <div class='car-result-resume'>
                  <span class='car-result-resume-title'>TOTAL DA LOCAÇÃO</span>
                  <div class='sales' ng-show='car.discount > 0'>
                    <span class='sales-from'>de R$ {{::car.discountValue}}</span>
                  </div>

                  <div>
                    <span ng-show='car.discount > 0'>por:</span> <span class='sales-coin'>R$</span> <span class='sales-price'>{{::car.value}}</span><br />
                  </div>

                  <div class='sales-installment' ng-show='car.installments > 0'>em até {{::car.installments}}x</div>

                  <div class='checkout'>
                    <button class='btn btn-primary backgroud-blue'>ALUGAR</button>
                  </div>

                  <span ng-show='car.includedTax'>Taxas inclusas</span>
                </div>

              </div>
            </div>

          </div>

          <!-- Fim valores -->
        </div>
      </div>

    </div>
  </div>
</form>
