<div class="col-xs-12 filter">

  <div class="form-group">
    <label for='retirada' class="filter-label">
      LOCAL DE RETIRADA
    </label>

    <input type='text' ng-model="retirada" ng-change='onRetiradaChanged()' uib-typeahead="location for location in locations | filter:$viewValue | limitTo:8" id='retirada' class='form-control blue' />
  </div>

  <div class="form-group custom-checkbox">
    <input type='checkbox' ng-model='samePlace' id='devolucaoOutroLocal'/>
    <label for="devolucaoOutroLocal" class='car-back'>Devolver o carro em outro local</label>
  </div>

  <div class="form-group" >
    <label for='devolucao' class="filter-label">
      LOCAL DE DEVOLUCAO
    </label>

    <input type='text' ng-model="devolucao" ng-disabled='samePlace' uib-typeahead="location for location in locations | filter:$viewValue | limitTo:8" id='devolucao' class='form-control blue' />
  </div>

  <div class="form-group">

    <label for='devolucao' class="filter-label">
      RETIRADA
    </label>

    <div class='input-group input-group-filter'>

      <input type="text" class="form-control" ng-model="withdrawalDate" uib-datepicker-popup='dd/MM/yyyy' is-open="withdrawalDateOpened" datepicker-options="dateOptions" close-text="Fechar">
      <i class="glyphicon glyphicon-calendar input-group-addon" ng-click="openwithdrawalDate()"></i>

      <select class="form-control">
        <option value='11:00'>
          11:00
        </option>
      </select>

    </div>
  </div>

  <div class="form-group">
    <label for='devolucao' class="filter-label">
      DEVOLUÇÃO - 8 dias
    </label>

    <div class="input-group input-group-filter">

      <input type='text' id='devolucao' class='form-control' ng-model="returnDate" uib-datepicker-popup='dd/MM/yyyy' is-open="returnDateOpened" datepicker-options="dateOptions" close-text="Fechar"/>
      <i class="glyphicon glyphicon-calendar input-group-addon" ng-click="openReturnDate()"></i>

      <select class="form-control">
        <option value='11:00'>
          11:00
        </option>
      </select>

    </div>

  </div>

  <div class='col-xs-12 filter-discount'>
    <strong>ECONOMIZE ATÉ 35%</strong>

    <div class='col-xs-12 filter-discount-options'>

      <label class="checkbox-inline filter-checkbox-text">
        <input type="checkbox" value="">Incluir voo
      </label>

      <label class="checkbox-inline filter-checkbox-text">
        <input type="checkbox" value="">Incluir hotel
      </label>

    </div>

  </div>
  <div class='col-xs-12 filter-search'>
    <button type='submit' class='btn btn-lg btn-primary filter-btn-search'>BUSCAR</button>
  </div>

</div>
